@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Purple-100: hsl(254, 88%, 90%);
	--Purple-500: hsl(256, 67%, 59%);
	--Yellow-100: hsl(31, 66%, 93%);
	--Yellow-500: hsl(39, 100%, 71%);
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 7%);
}

html {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
}

body {
	display: flex;
	align-items: center;
}

img {
	display: block;
	width: 100%;
}

main {
	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"card-1"
		"card-2"
		"card-3"
		"card-4"
		"card-5"
		"card-6"
		"card-7"
		"card-8";
	width: 100%;
	row-gap: 1.5%;
	padding: 8% 4% 4% 4%;
	background-color: var(--Yellow-100);
}

.card {
	container-type: inline-size;
}

.card:nth-child(1) {
	background-color: var(--Purple-500);
	grid-area: card-1;
	text-align: center;

	p:nth-child(1) {
		color: white;
		font-size: 15cqi;
		line-height: 16cqi;
		text-align: center;
		padding: 9cqi 6cqi 6cqi 6cqi;

		span:nth-child(1) {
			color: var(--Yellow-500);
		}

		span:nth-child(2) {
			font-style: italic;
		}
	}

	img {
		width: 60cqi;
		margin: 0 auto;
	}

	p:nth-child(3) {
		color: white;
		font-size: 6cqi;
		margin: 2cqi 0 12cqi 0;
	}
}

.card:nth-child(2) {
	background-color: var(--White);
	grid-area: card-2;

	img {
		width: 85cqi;
		margin: 6cqi auto 0 auto;
	}
	
	p {
		font-size: 8cqi;
		letter-spacing: -.3cqi;
		font-weight: 500;
		line-height: 8cqi;
		margin: 4cqi 4cqi 5cqi 4cqi;
	}
}

.card:nth-child(3) {
	background-color: var(--Yellow-500);
	grid-area: card-3;

	p {
		font-size: 8cqi;
		font-weight: 500;
		letter-spacing: -.3cqi;
		line-height: 9cqi;
		margin: 5cqi 4cqi 6cqi 4cqi;
	}

	img {
		width: 70cqi;
		margin: 0 0 0 4cqi;
	}
}

.card:nth-child(4) {
	background-color: var(--Purple-100);
	grid-area: card-4;
}

.card:nth-child(5) {
	background-color: var(--Purple-500);
	grid-area: card-5;
}

.card:nth-child(6) {
	background-color: var(--White);
	grid-area: card-6;
}

.card:nth-child(7) {
	background-color: var(--Yellow-100);
	grid-area: card-7;
}

.card:nth-child(8) {
	background-color: var(--Yellow-500);
	grid-area: card-8;
}